form {
  display: flex;
  align-items: end;
}

label {
  display: block;
  font-size: 16px;
  pointer-events: none;
}

.input-box input {
  padding: 7px 12px;
  outline: none;
  border: 1px solid var(--soft-neutral);
  color: black;
  font-size: 20px;
  width: 1200px;
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

form .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 1280px) {
  .input-box input {
    width: 1000px;
  }
}

@media screen and (max-width: 990px) {
  form {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  form .button {
    border-radius: 12px;
    width: 100%;
  }
  .input-box input {
    width: 700px;
    font-size: 16px;
    border-radius: 12px;
  }

  #form {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 475px) {
  form {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  form .button {
    border-radius: 12px;
    width: 100%;
  }
  .input-box input {
    width: 300px;
    font-size: 16px;
    border-radius: 12px;
  }

  #form {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
}
