header {
  padding: 2rem;
}

.logo {
  color: var(--main-color);
  font-size: 2rem;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  color: var(--light-color);
}

.item {
  cursor: pointer;
  transition: all 0.2s ease;
}

.item.active {
  border-bottom: 2px solid var(--secondary-color);
}

.item:hover {
  color: var(--main-color);
}

.mobile-menu,
.mobile-nav-list {
  display: none;
}

#home {
  display: flex;
  margin-top: 12rem;
  justify-content: space-around;
}

#home aside {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#home aside h1 span {
  color: var(--main-color);
}

#home aside p {
  font-size: 20px;
}

#home img {
  width: 850px;
}

@media screen and (max-width: 1280px) {
  .mobile-nav-list button {
    background: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  #home {
    gap: 5rem;
    margin-top: 4rem;
  }

  #home img {
    width: 850px;
  }

  header {
    padding: 1.5rem 0.8rem;
  }
}

@media screen and (max-width: 990px) {
  .nav-list {
    display: none;
  }

  .mobile-menu {
    display: block;
    border: none;
    color: #fff;
    font-size: 24px;
    background: transparent;
  }

  .logo {
    font-size: 2rem;
  }

  .mobile-nav-list.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    font-size: 25px;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    inset: 0;
    list-style: none;
    text-align: center;
  }

  .mobile-nav-list button {
    background: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  #home {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
  }

  #home img {
    width: 850px;
  }

  header {
    padding: 1.5rem 0.8rem;
  }
}

@media screen and (max-width: 475px) {
  .nav-list {
    display: none;
  }

  .mobile-menu {
    display: block;
    border: none;
    color: #fff;
    font-size: 24px;
    background: transparent;
  }

  .logo {
    font-size: 1rem;
  }

  .mobile-nav-list.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    font-size: 25px;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    inset: 0;
    list-style: none;
    text-align: center;
  }

  .mobile-nav-list button {
    background: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  #home {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
  }

  #home img {
    width: 400px;
  }

  header {
    padding: 1.5rem 0.8rem;
  }
}
